.nav-link {font-size: 1rem;}

.form-control{font-size: 0.8rem;}

.td-navbar{ position: relative; border-bottom: 1px solid #eee;}

.navbar-nav{display: none;}

.td-404 main, .td-main main{padding-top: 2rem;}

.td-sidebar{padding-top: 2em;}

.td-sidebar-nav .td-sidebar-link.tree-root{color: $black}

.td-search__icon{left: 0.5em}

.td-navbar{min-height: 3rem;}

.td-content > h1{padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;}

.td-content .lead{color: #8c8c8c;}

.reading-time{
    font-size: 0.8em;
    margin-top: -1em;
}

a:hover.td-sidebar-link.tree-root{color: #8c8c8c;}

.pageinfo{
    margin-left: 0;
}

.td-sidebar-toc{
    position: sticky;
    top: 0;
    height: calc(100vh);
    overflow-y: auto;
    padding-top: 2em;
}

@media  (max-width: 770px) {
    nav.td-navbar > .container-fluid{
        height: 3rem !important;
    }
    .td-search{
        display: none;
    }
    
    .td-sidebar .btn-link{
        margin-top: -145px;
        z-index: 100;
    }
    
    .td-404 main, .td-main main{
        margin-top: -5em;
    }

    .td-sidebar-nav{
        margin-bottom: 3em;
        margin-top: -3em;
    }
}